:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}
.center {
  align-items: center;
  justify-content: center;
}
.start {
  justify-content: flex-start;
}
.col {
  flex-direction: column;
}

/* header */
.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #171717;
  justify-content: center;
  align-items: center;
}
.header a {
  font-size: 20px;
  color: #fff;
}
.header a.cart {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 15px;
}

/* nav */
.nav {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #171717;
}
.nav ul {
  display: flex;
  width: 100%;
}
.nav ul li {
  display: flex;
  width: 25%;
  height: 100%;
}
.nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
}

.board {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board,
.board ol,
.board ul {
  width: 100%;
}

.board .list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.board .list > li {
  border: 1px solid #eee;
  text-align: center;
  font-size: 14px;
}
.board .list > li:nth-child(1) {
  width: 10%;
}
.board .list > li:nth-child(2) {
  width: 50%;
}
.board .list > li:nth-child(3) {
  width: 10%;
}
.board .list > li:nth-child(4) {
  width: 10%;
}
.board .list > li:nth-child(5) {
  width: 20%;
}

/* 1. main */
.main {
  width: 100%;
}
.main a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  font-size: 20px !important;
  border-radius: 5px;
  background: #dfd070;
  padding: 5px 0;
  margin: 10px;
}

.auth a {
  width: 240px;
  background: #8edf70;
}

/* write */
.write {
  width: 900px;
}
.write input,
.write textarea {
  width: 100%;
  max-width: 900px;
  margin: 0;
}

.write label {
  display: block;
  margin: 10px 0;
}

/* toast */
.toast ol {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.toast ol li {
  width: 150px;
}
.toast ol li * {
  width: 100%;
}
.toast ol li dt {
  font-size: 20px;
  font-weight: 600;
}
.toast ol li dd {
  font-size: 18px;
}

/* order */
.order {
  width: 100%;
  height: 100%;
  background: #eee;
  padding: 20px;
}
.order ol li {
  gap: 15px;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  align-items: flex-start;
}
.order ol li:last-child {
  margin-bottom: 0;
}
.order ol li img {
  width: 100px;
  background: #eee;
  border-radius: 5px;
}
.order dl {
  width: 100%;
}
.order dl dt {
  font-size: 18px;
}
