:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}
.center {
  align-items: center;
  justify-content: center;
}
.start {
  justify-content: flex-start;
}
.col {
  flex-direction: column;
}

/* header */
.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #171717;
  justify-content: center;
  align-items: center;
}
.header a {
  font-size: 20px;
  color: #fff;
}

.header .logo {
  width: 70px;
  padding-top: 5px;
}

.header a.mypage-btn {
  position: absolute;
  right: 45px;
  top: 15px;
}
.header a.cart-btn,
.header a.signout-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

.header a.cart-btn.active::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #df4e4e;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
}
/* nav */
.nav {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #171717;
}
.nav ul {
  display: flex;
  width: 100%;
}
.nav ul li {
  display: flex;
  width: 25%;
  height: 100%;
}
.nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
}

.board {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board,
.board ol,
.board ul {
  width: 100%;
}

.board .list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.board .list > li {
  border: 1px solid #eee;
  text-align: center;
  font-size: 14px;
}
.board .list > li:nth-child(1) {
  width: 10%;
}
.board .list > li:nth-child(2) {
  width: 50%;
}
.board .list > li:nth-child(3) {
  width: 10%;
}
.board .list > li:nth-child(4) {
  width: 10%;
}
.board .list > li:nth-child(5) {
  width: 20%;
}

/* 1. main */
.main {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main > div {
  width: 100%;
  padding: 15px;
}
.main > div > h3 {
  font-size: 20px;
  font-weight: 600;
  color: #4a4a4a;
}
.main a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  font-size: 20px !important;
  border-radius: 5px;
  padding: 5px 0;
  margin: 10px;
}

.main .greeting {
  background: #326564;
  color: #cbe7e6;
  padding: 10px 15px 10px 30px;
  position: relative;
}
.main .greeting::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  background: #cbe7e6;
  top: 14px;
  left: 18px;
}

.main .promotion.banner {
  width: 100%;
}
.main .promotion.banner img {
  width: 100%;
}

/* recommend */
.main .recommend {
  width: 100%;
  margin: 15px 0;
}
.main .recommend ul {
  width: 100%;
  height: 200px;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .recommend ul li {
  width: 200px;
  height: 200px;
}
.main .recommend ul li a {
  width: 100%;
  background: #fff;
  flex-direction: column;
  margin-top: 25px;
}
.main .recommend ul li img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.main .recommend ul li span {
  display: block;
  text-align: center;
}

/* category */
.main .category {
  width: 100%;
  height: 200px;
  padding: 10px;
}
.main .category ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  margin: 15px 0;
}
.main .category li {
  width: 23%;
  height: 90px;
}
.main .category li a {
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: column;
  background: #cbe7e6;
  color: #1e5d71;
}
.main .category li a img {
  font-weight: 17px;
}
.main .category li a span {
  font-size: 17px;
  font-weight: 600;
}

/* news */
.main .news {
  width: 100%;
}

.main .news ul {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
}
.main .news ul li {
  width: 300px;
  height: 100%;
}
.main .news ul li a {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.main .news ul li img {
  width: 300px;
  height: 180px;
}
.main .news ul li span {
  font-size: 18px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 30px;
  text-overflow: ellipsis;
}
/* auth */
.auth-wrap {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  width: 150px;
  height: 110px;
  background: #171717;
  z-index: 99;
}
.auth {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.auth a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background: #cbe7e6;
}

/* write */
.write {
  width: 900px;
}
.write input,
.write textarea {
  width: 100%;
  max-width: 900px;
  margin: 0;
}

.write label {
  display: block;
  margin: 10px 0;
}

/* toast */
.toast {
  width: 100%;
  height: 100%;
  padding: 15px 0;
}
.toast ol.menu-wrap {
  padding-top: 20px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 95%;
  margin: 0 auto;
}
.toast ol li {
  width: 32%;
}
.toast ol li * {
  width: 100%;
}

.toast ol li .img-wrap {
  width: 100%;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
}

.toast ol li img {
  height: 100%;
}

.toast ol li dt {
  font-size: 18px;
  text-align: center;
}
.toast ol li dd {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.toast ol li dd:last-child {
  width: 100%;
  font-weight: 300;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* order */
.order {
  width: 100%;
  height: 100%;
  background: #eee;
  padding: 20px;
}
.order ol li {
  width: 100%;
  height: 100%;
}
.order ol li a {
  gap: 15px;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  align-items: flex-start;
}
.order ol li:last-child {
  margin-bottom: 0;
}
.order ol li img {
  width: 100px;
  background: #eee;
  border-radius: 5px;
}
.order dl {
  width: 100%;
}
.order dl dt {
  font-size: 18px;
}

.order p {
  padding: 10px 0;
}

/* .menu-view */
.menu-view {
  width: 100%;
  height: 100%;
  background: #eee;
}
.menu-view dl {
  width: 100%;
  background: #fff;
}
.menu-view dl dt {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menu-view dl dt img {
  width: 100%;
}
.menu-view dl dd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}
.menu-view dl dd:last-child {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}

.menu-view > div {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #d0d0d0;
  margin: 10px 0;
}

.menu-view .btn-wrap {
  gap: 20px;
}
.menu-view .btn-wrap .now-btn {
  background: #737373;
}
.menu-view .btn-wrap .cart-btn {
  background: #177099;
}

/* .cart */
.cart {
  width: 100%;
  height: 100%;
  background: #eee;
}
.cart h2,
.cart h3 {
  width: 100%;
  height: 50px;
  background: #fff;
  margin: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart h3 {
  background: #4a4a4a;
  color: #fff;
}
.cart ol,
.cart ol li {
  width: 100%;
  justify-content: space-between;
}
.cart > ol > li {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 5px;
}

.cart > ol > li dl {
  width: 200px;
}
.cart ol li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.cart ol li dt {
  font-size: 18px;
  font-weight: 600;
}

.cart p {
  margin: 20px 0;
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #d0d0d0;
}

.total-cost {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #d0d0d0;
}
.total-cost dl {
  margin-bottom: 30px;
}
.total-cost dl dt {
  font-size: 20px;
  font-weight: 600;
}
.total-cost dl dd {
  font-size: 21px;
  font-weight: 600;
  color: #df4e4e;
}

/* receipt : 주문내역 */
.receipt {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #eee;
}

.receipt .order-list li {
  padding: 15px;
  border-bottom: 2px solid #c2c2c2;
  background: #fff;
  margin-bottom: 15px;
}
.receipt .order-list li a {
  justify-content: flex-start;
  gap: 15px;
}

.receipt .order-list img {
  width: 150px;
}
