/************************
 
    default reset css

*************************/

/* reset items */

*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button,
header,
nav,
aside,
footer,
option,
a,
.header,
.gnb,
.login-box,
.footer,
.inner,
.btn-box,
input {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
  box-sizing: -ms-border-box;
  font-family: "Noto Sans KR", "MalgunGothic", "sans-serif";
  font-weight: 300;
}
body,
h1,
h2,
h3,
h4,
input,
button {
  color: #000;
}
html {
  height: 100vh;
}
html,
body {
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: #fff;
  word-break: break-all;
  -ms-word-break: break-all;
  font-family: "Calibri", "MalgunGothic", "sans-serif";
  text-align: left;
}
img,
fieldset,
iframe {
  border: 0 none;
}
li {
  list-style: none;
}
input,
select,
button {
  vertical-align: middle;
}
button {
  background: none;
  border: 0;
}
textarea,
input,
select:focus-visible,
select {
  display: flex;
  width: 300px;
  background: #fff;
  border: 0;
  color: #2f2f2f;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  outline: 0;
}
i,
em,
address {
  font-style: normal;
}
label,
button {
  cursor: pointer;
}
button {
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.hr {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 25px;
  height: 1px;
  background: #0e3641;
}

/* 1-3. definition of prefix */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-hoz-right {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.flex-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-item {
  align-self: center;
}
.inner {
  max-width: 650px;
  margin: 0 auto;
}
.display-on {
  display: block !important;
}
.display-none {
  display: none !important;
}
.clear-both::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.only-mobile {
  display: none;
}

.list-dot li {
  padding-left: 10px;
  background: url("/img/list-dot.svg") no-repeat 0 10px;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
button,
input[type="submit"] {
  width: 100%;
  background: #e4d773;
  padding: 10px;
  border-radius: 5px;
}

.inner {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 50px 0 70px 0;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #4f4f4f;
}
